
<div class="content3"></div>



<h1>Buscar Funcionários por Empresa</h1>
<form action="/buscarFuncionariosPorEmpresa" method="POST">
    <label for="empresaId">Selecione a Empresa:</label>
    <select name="empresaId" id="empresaId">
        <% empresas.forEach(function(empresa) { %>
            <option value="<%= empresa.id %>"><%= empresa.nome %></option>
        <% }); %>
    </select>
    <button type="submit">Buscar Funcionários</button>
</form>
<%- include('../partials/footer') %>
</body>
</div>

<% if (locals.success) { %>
    <script>
        M.toast({ html: '<%= success %>' })
    </script>
    <% } %>

        <% if (locals.error) { %>
            <script>
                M.toast({ html: '<%= error %>' })
            </script>
            <% } %>