<%- include('../partials/header') %>
<%- include('../partials/navbar3') %>
<h1>Resultado da Pesquisa de Denúncias</h1>

<% if (denuncias.length === 0) { %>
    <p>Nenhuma denúncia encontrada.</p>
<% } else { %>
    <ul>
        <% for (let i = 0; i < denuncias.length; i++) { %>
            <li>
                Texto: <%= denuncias[i].texto %><br>
                Imagem: <%= denuncias[i].imagem %><br>
                Vídeo: <%= denuncias[i].video %><br>
            </li>
        <% } %>
    </ul>
<% } %>

<%- include('../partials/footer') %>
<% if (locals.error) { %>
    <script>
    M.toast({html: '<%= error %>'})
        </script>
  <% } %>